.button-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    padding-top: 4em;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .button-bar {
        flex-direction: column;
    }
}