:root {
    --color-primary: #05396c
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #e0e0e0;
}

.board {
    display: flex;
    flex-direction: column;
}

h2,
p {
    text-align: center;
}